#calculator {
  position: absolute;
  top: 1em;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 400px;
  z-index: 100;
}

@media screen and (max-width: 360px) {
  #calculator {
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
  }
}

#base {
  background: darkslategray;
  border: 3px solid black;
  width: auto;
  border-radius: 25px;
}
#grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 1px 1px;
  grid-template-areas:
    'clear backspace mod divide'
    'seven eight nine multiply'
    'four five six substract'
    'one two three add'
    'opposite zero dot equal';
}
#keypad {
  height: calc(200% / 3);
}

#closeBtn {
  position: absolute;
  right: 0;
  top: 0;
  width: 1.5em;
  height: 1.5em;
  background-color: #7c7c7c;
  opacity: 0.3;
}
#closeBtn:hover {
  opacity: 0.6;
}
#closeBtn:before,
#closeBtn:after {
  position: absolute;
  left: 0.7em;
  content: ' ';
  height: 1.5em;
  width: 2px;
  background-color: #333;
}
#closeBtn:before {
  transform: rotate(45deg);
}
#closeBtn:after {
  transform: rotate(-45deg);
}

#mainDisplay {
  background: lightgrey;
  height: 25vh;
  padding: 5% !important;
  font-size: 4rem;
  text-align: right;
  font-family: Courier, monospace;
  overflow: auto;
  word-break: break-all;
  border-radius: 22px 22px 0px 0px;
}

#subDisplay {
  border-bottom: 1px solid black;
  height: 21%;
  font-size: 1.5rem;
  overflow: auto;
}

.keys {
  margin: 0;
  background-color: black;
  color: black;
  padding: 5%;
  font-size: 2rem;
  text-align: center;
  cursor: pointer;
  opacity: 1;
}

.keys:hover {
  opacity: 0.6;
}

.numkey {
  color: white;
}

.opkey {
  color: skyblue;
}

#clearBtn {
  grid-area: clear;
  color: red !important;
}

#backspaceBtn {
  grid-area: backspace;
}

#modBtn {
  grid-area: mod;
}

#divideBtn {
  grid-area: divide;
}

#multiplyBtn {
  grid-area: multiply;
}

#substractBtn {
  grid-area: substract;
}

#addBtn {
  grid-area: add;
}

#equalBtn {
  grid-area: equal;
  color: white !important;
  background-color: orangered !important;
  border-radius: 0px 0px 22px 0px;
}

#oppositeBtn {
  grid-area: opposite;
  border-radius: 0px 0px 0px 22px;
}

#dotBtn {
  grid-area: dot;
}

#zeroBtn {
  grid-area: zero;
}

#oneBtn {
  grid-area: one;
}

#twoBtn {
  grid-area: two;
}

#threeBtn {
  grid-area: three;
}

#fourBtn {
  grid-area: four;
}

#fiveBtn {
  grid-area: five;
}

#sixBtn {
  grid-area: six;
}

#sevenBtn {
  grid-area: seven;
}

#eightBtn {
  grid-area: eight;
}

#nineBtn {
  grid-area: nine;
}
